html {
     background-image: url('public/background/starcloud.gif');
     background-size: 900px 900px
}

#defaultCanvas0 {
     float: left;
}

div.leaderboard {
     background-color: rgba(255, 255, 255, 0.8);
     float: right;
     padding: 5px;
     list-style: none;
     width: 400px
}

#login {
     z-index: 2;
     background-color:rgba(255, 255, 255, 0.9);
     position: absolute;
     height: 500px;
     width: 800px;
     margin-top: 100px;
     margin-left: 100px;
}

form, input {
     text-align: center;
     font-size: 50px;
}

form {
     padding-top: 10%;
}

h1 {
     width: 1000px;
     height: 400px;
     top: 0px;
     margin-top: 8px;
     background-color: black;
     color: white;
     z-index: 1;
     position: absolute;
     text-align: center;
     padding-top: 300px;
}
